@import '_variables.scss';
@import '_mixins.scss';

.header {
  position: relative;
  background-color: $secondaryColor;
  font-family: 'TT Firs Neue', 'Roboto', sans-serif;
  color: $basicColor;
  padding-top: 24px;
  padding-bottom: 21px;
}

.nav {
  position: relative;
  padding: 0 9px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    padding: 0 4px;
    font-size: 16px;
    line-height: 21px;

    @include linkHoverEff;
  }

  &__tel {
    display: none;
  }
}

