.social {
  display: flex;
  &__link {
    display: inline-block;
    font-size: 0;
    outline: none;
    * {
      fill: #cacaca;
    }
    @include svgHoverEff;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  .social {
    padding-right: 13px;
  }
}
