.map {
  width: 100%;
  height: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyright.ymaps-2-1-79-copyright_logo_no {
  display: none;
}

.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}
